<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <jmxConfigurator/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <logger name="org.springframework" level="info"/>

    <logger name="org.springframework.web.servlet" level="info"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="debug"/>

    <logger name="org.springframework.beans.factory" level="info"/>
    <logger name="org.springframework.beans.factory.config" level="debug"/>

    <logger name="org.springframework.boot" level="info"/>
    <logger name="org.springframework.boot.autoconfiguration" level="debug"/>
        
    <logger name="org.thymeleaf" level="debug"/>

    <logger name="com.aestheticsw" level="debug"/>
    
</configuration>
