<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <logger name="org.springframework" level="INFO"/>
    
    <logger name="org.springframework.web.servlet" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>

    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>

    <logger name="com.aestheticsw" level="DEBUG"/>
    
</configuration>
