<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d [%p] %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>
	
	<logger name="net.exacode.spring.logging" level="info" />

    <logger name="org.springframework" level="info"/>

    <logger name="org.springframework.beans.factory" level="info"/>
    <logger name="org.springframework.beans.factory.config" level="debug"/>
    
    <!-- log the property-file filenames -->
    <logger name="org.springframework.core.env.StandardEnvironment" level="debug"/>
    <!-- log all property value resolution attempts from every properties file -->
    <logger name="org.springframework.core.env" level="info"/>

    <logger name="org.springframework.boot" level="info"/>
    <logger name="org.springframework.boot.autoconfiguration" level="debug"/>
    <logger name="org.springframework.boot.context.config" level="debug"/>

    <!--  more logging for property values & property files -->
    <logger name="org.springframework.boot.load" level="debug"/>
    <logger name="org.springframework.boot.loader" level="debug"/>

    <logger name="org.springframework.web.servlet" level="info"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="debug"/>
    <logger name="org.springframework.web.client.RestTemplate" level="debug"/>
    <logger name="org.springframework.http.client.support" level="debug"/>

    <logger name="org.hibernate" level="info"/>
    <logger name="org.hibernate.engine.transaction.spi" level="debug"/>
    <logger name="org.hibernate.engine.transaction.internal.jdbc" level="debug"/>
    
    <logger name="org.springframework.orm.jpa" level="debug"/>
    <logger name="org.springframework.transaction" level="debug"/>
    <logger name="org.springframework.jdbc" level="info"/>
    <logger name="org.springframework.jdbc.datasource" level="debug"/>

    <logger name="org.hibernate.SQL" level="debug"/>
    <logger name="org.hibernate.internal.NamedQueryRepository" level="debug"/>
    <logger name="org.hibernate.jpa.internal.util.LogHelper" level="debug"/>
    <logger name="org.hibernate.loader.entity.plan.EntityLoader" level="debug"/>
    <logger name="org.hibernate.persister.entity.AbstractEntityPersister" level="debug"/>
    <logger name="org.hibernate.persister.build.spi.LoadPlanTreePrinter" level="debug"/>
    <logger name="org.hibernate.hql.internal.ast.QueryTranslatorImpl" level="debug"/>

    <logger name="org.dbunit" level="info"/>

    <logger name="com.aestheticsw" level="debug"/>

</configuration>
